:root{
    --font-color: rgb(50,50,50);
    --bg-light-blue: rgb(242,242,247);
    --light-transp-blue: rgb(0,0,50,0.1);
    --dark-transp-blue:rgba(0,0,50,.3);
    --light-shadow: 0 10px 30px rgb(0,0,50,0.1);
    --pretty-green: rgb(140,223,130);
    --pretty-yellow: rgb(255 216 107);
    --pretty-red:rgb(255 109 109);
    --pretty-purple:rgb(245 152 229);
    --pretty-blue:rgb(98 168 239);
    --logo-blue:rgb(1 66 155);
    --navbar-gap: max(12vh,100px);
    --lighter-font-color: rgb(111,111,111);
    --head-size: max(70px,min(10vw,120px));
}


body{
    margin:0;
    background: var(--bg-light-blue);
    font-family: 'Poppins';
    color:var(--font-color);
}

/* Default for images. Basically makes all images non selectable and highlightable */
img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* NAVBAR */ 
#navbar{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px;
    border-bottom: 2px solid var(--light-transp-blue);
    backdrop-filter: blur(20px);
    background: rgba(242,242,247,0.7);
}

/* side links */
#sideLinks a{
    font-size: 20px;
    font-weight: 600;
    transition: .25s;
    cursor: pointer;
    margin-left:40px;
    text-decoration: none;
    opacity: .6;
    color:var(--font-color);
}

#sideLinks a:hover{
    opacity: 1;
}


/* logo */
.logo{
    font-weight: 600;
    margin:0;
    font-size: 1.5em;
    text-decoration: none;
    color:var(--font-color);
}

.logo img{
    width: 60px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}


/* MOBILE NAVBAR */
#mobileNavbar{
    display: none;
}
#burgerMenu{
    display: none;
}

/* LANDING SCENE */
.faceHolder{
    display: flex;
    justify-content: space-around;
    margin:auto;
    margin-top: 15vh;
}

.faceHolder img{
    width: var(--head-size);
    max-width: var(--head-size);
    max-height: var(--head-size);
    border-radius: 50%;
    box-shadow: 0 0 100px var(--pretty-blue);
    border:5px solid var(--bg-light-blue);
}

#landingTitle{
    text-align: center;
    font-size: 85px;
    letter-spacing: -2px;
    margin:0;
    margin-bottom: 25px;
    background: linear-gradient(to right, var(--logo-blue),rgb(0 243 223));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


#landingSub{
    text-align: center;
    margin-bottom:-30px;
}

/* app icons */
.appIcons{
    display: flex;
    justify-content: center;
}

.appIcons a{
    display: block;
    text-decoration: none;
    padding:10px;
    background:var(--light-transp-blue);
    border-radius: 50%;
    margin-right: 10px;
    transition: .5s;
}

.appIcons a:hover{
    background:var(--dark-transp-blue);
}

.appIcons a img{
    width: 50px;
    display: block;
}

/* WIDGETS */
.widget{
    width: 80%;
    margin:auto;
    max-width: 400px;
    padding:10px;
    display: flex;
    justify-content: left;
    align-items: center;
    box-shadow: none;
    margin-top: 30px;
    border-radius: 12px;
    border:2px solid var(--light-transp-blue);
    transition: .5s;
}

.widget:hover{
    box-shadow:  0 10px 30px var(--light-transp-blue);
}

.widget img{
    padding:10px;
    background:var(--pretty-blue);
    border-radius: 10px;
    margin-right: 10px;
}

.widget p{
    font-size:20px;
    font-weight: 600;
    margin:0;
}

/* OFFICER SLIDES */
#officerSlide{
    width:80%;
    max-width: 400px;
    margin:auto;
    border:2px solid var(--light-transp-blue);
    padding:10px;
    border-radius: 12px;
}

#officerSlide img{
    width: 100%;
    border-radius: 12px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#officerSlide p{
    height: 15vh;
}


/* slide buttons */
#slideButtonHolder{
    margin-top:50px;
    display:flex;
    justify-content: center;
}
.slideButton{
    height: 10px;
    width: 25px;
    background:var(--light-transp-blue);
    transition:.25s;
    margin-left:15px;
    border-radius: 10px;
    cursor: pointer;
}

.currentSlide,.slideButton:hover{
    background:var(--dark-transp-blue);
}
/* FOOTER */
#footer{
    width: 100%;
    padding-top: 15vh;
    background:linear-gradient(to bottom, transparent, rgb(98 168 239 / 30%));
}

/* GENERAL */

.bigGap{
    height: 10vh;
}

.sectionHeader{
    font-size: 50px;
    width: 80%;
    display: block;
    margin:auto;
    text-align: center;
    margin-bottom: 20px;
    line-height: 50px;
}

.sectionSub{
    font-size: 18px;
    font-weight: 600;
    opacity: .7;
    text-align: center;
    width: 80%;
    max-width: 400px;
    display: block;
    margin: auto;
}

.sectionHeader span{
    color:rgb(7 137 180);
}

/* section dividers */
.dividerLine{
    width: 2px;
    height: 15vh;
    margin:auto;
    background:var(--light-transp-blue);
}

.dividerCircle{
    width: 10px;
    height: 10px;
    margin:auto;
    border-radius: 50%;
    border: 2px solid var(--light-transp-blue);
}


@media screen and (max-width: 850px) {
    .faceHolder img{
        margin-left:0 !important;
    }

    #face2,#face5,#face7,#face9,#face10{
        display: none;
    }

    #landingTitle{
        background: linear-gradient(to right, var(--logo-blue),rgb(2 170 195));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 50px;
    }

    #landingSub{
        margin-bottom: -12px;
        font-size: 20px;
    }

    #navbar{
        display:none;
    }
    #mobileNavbar{
        display: flex;
        position: fixed;
        justify-content: space-between;
        left:0;
        right:0;
        top:0;
        padding:10px;
        border-bottom:2px solid var(--light-transp-blue);
        background: var(--bg-light-blue);
        z-index: 9999;
    }

    #burgerMenu{
        position: fixed;
        z-index:999;
        top:0;
        left:0;
        right:0;
        bottom:0;
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        background: rgba(242,242,247,0.7);
        display:grid;
        justify-items: center;
        opacity: 0;
        pointer-events: none;
        transition:.5s;
        align-content: center;
    }

    #burgerMenu a{
        text-decoration: none;
        font-size: 25px;
        color:var(--lighter-font-color);
        margin-bottom: 30px;
    }

    .bigGap{
        height: 50px;
    }
  }